# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.egg-info/
build/
dist/
.venv/
venv/

# env 
.env
.databricks
.databrickscfg

# data
data/

# notebooks checkpoints
.ipynb_checkpoints/

# mlflow
mlruns/

# data, models, outputs
*.h5
*.hdf5
*.tsv
*.parquet
*.pkl
*.joblib
*.npy
*.npz
*.log
*.mlmodel
*.onnx
*.ckpt
*.pt
*.pth
*.pb
*.tflite
*.metrics
*.tensorboard
runs/
logs/
output/
outputs/
checkpoints/
